@font-face {
  font-family: Cairo;
  src: url('./files/Cairo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Cairo;
  src: url('./files/Cairo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
