@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: rgba(255, 255, 255, 0.88);
    --title: white;
    --bg: #14161a;
    --code-bg: #191d27;
    --link: #9FEF00;
    --inlineCode-bg: rgba(115, 124, 153, 0.2);
    --inlineCode-text: #e6e6e6;
    --pink: lab(81 32.36 -7.02);
    --purple: lab(78 19.97 -36.75);
    --green-htb: #9FEF00;
    --yellow-sleeper: #efd949;
}

@property --myColor1 {
    syntax: "<color>";
    initial-value: rgba(255, 255, 255, 0.88);
    inherits: false;
}

@property --myColor2 {
    syntax: "<color>";
    initial-value: rgba(255, 255, 255, 0.88);
    inherits: false;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
    }
}
